spring:
  application:
    name: zone_core

  datasource:
    url: jdbc:postgresql://localhost:5433/db_parkin_zone
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin
    url: amqp://admin:admin123@rabbitmq:5672

server:
  port: 8090